[Unit]
Description=bzero-ssm-agent
After=network-online.target

# Only try to restart thrice (v230 and above).
StartLimitBurst=3
StartLimitIntervalSec=400

[Service]
Type=simple
WorkingDirectory=/usr/bin/
ExecStart=/usr/bin/bzero-ssm-agent
KillMode=process
Environment=AWS_SHARED_CREDENTIALS_FILE=~/.bzero/credentials

# Only restart the agent if it exits without a clean exit code aka not on purpose.  Delay restart
# so that the agent is less likely to restart during a reboot initiated by a script.
Restart=on-failure
RestartSec=90

# Only try to restart thrice (v229 and below).
StartLimitInterval=400
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
