[Unit]
Description=bzero-ssm-agent
After=network-online.target

# Only try to restart thrice (v230 and above).
StartLimitBurst=3
StartLimitIntervalSec=400

[Service]
Type=simple
WorkingDirectory=/usr/bin/
ExecStart=/usr/bin/bzero-ssm-agent
KillMode=process
Environment=AWS_SHARED_CREDENTIALS_FILE=~/.bzero/credentials

# Restart the agent regardless of whether it crashes (and returns a non-zero result code) or if
# is terminated normally (e.g. via 'kill -HUP').  Delay restart so that the agent is less likely
# to restart during a reboot initiated by a script. If the agent exits with status 194 (reboot
# requested) or 234 (Bzero reg error), don't restart at all.
Restart=always
RestartPreventExitStatus=194 234
RestartSec=90

# Only try to restart thrice (v229 and below).
StartLimitInterval=400
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
